# ══════════════════════════════════════
# Configuration du site — .env
# ══════════════════════════════════════

# Base de données
DB_HOST=db5016690401.hosting-data.io
DB_NAME=dbs13515816
DB_USER=dbu275936
DB_PASS=**Baycpq25**

# Admin
ADMIN_USER=admin
ADMIN_PASS=changez_ce_mot_de_passe

# Debug (false en production)
APP_DEBUG=false
