# Empecher execution de scripts
<FilesMatch "\.(php|phtml|php3|php4|php5|pl|py|cgi|sh|bash)$">
    Require all denied
</FilesMatch>

# Autoriser les images et vidéos
<FilesMatch "\.(jpg|jpeg|png|gif|webp|heic|svg|mp4|mov|avi|webm)$">
    Require all granted
</FilesMatch>

# Pas de listing de repertoire
Options -Indexes
